!!! XML
%style{:xmlns=>"http://purl.org/net/xbiblio/csl", :version=>"1.0", :class=>"in-text", :default-locale=>"cs-CZ"}
  %info
    %title Main style for ISO 690
    %category author-date
    %
  %macro
  %citation
  %bibliography